.button {
    padding: 10px 20px;
    margin: 50px 10px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
}

.modal_button {
    background-color: rgba(1, 1, 1, 0.3);
    width: 101px;
    height: 41px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin: 20px 10px;
    user-select: none;

}