.ModalBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.Modal {
    position: absolute;
    left: calc(50% - 258px);
    width: 516px;
    height: 252px;
    border-radius: 5px;
    z-index: 10;
    user-select: none;
    text-align: center;
}

.Header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: rgba(1, 1, 1, 0.2);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 22px;
    padding: 0 30px;

}

.Cross {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:before,
    &:after {
        position: absolute;
        left: 50%;
        content: '';
        height: 20px;
        width: 1px;
        background-color: #fff;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.Main_content {
    display: flex;
    align-items: center;
    height: 115px;
    color: #fff;
    padding: 0 30px;
}


